<div class="t-cell">
    <a href="{{ include.playUrl }}">
        <img class="t-cell-image" src="{{ include.img }}">
    </a>
    <div class="t-cell-title">
        {{ include.title }}
    </div>
    <div class="t-cell-description">
        {{ include.description }}
    </div>
    <div class="t-cell-footer">
        {% if include.playUrl %}
            <a href="{{ include.playUrl }}" class="t-cell-button">Try</a>
        {% endif %}
        {% if include.githubUrl %}
            <a href="{{ include.githubUrl }}" class="t-cell-button">Github</a>
        {% endif %}
    </div>
</div>