<div class="sidebar">
  <div class="container">
    <img class="headshot" src="/../images/headshot.jpg">
    <div class="sidebar-about">
      <h1>
        {{ site.title }}
      </h1>
      <!-- <p class="lead">{{ site.description }}</p> -->
    </div>

    <nav class="sidebar-nav">
      <!-- <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}">About Me</a>
      <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}projects/">Projects</a>
      <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}interests/">Interests</a>
      <br>
      <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}contact/">Contact</a> -->

      <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ '/' | relative_url }}">About Me</a>
      <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ '/projects' | relative_url }}">Projects</a>
      <!-- <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ '/three' | relative_url }}">Three.js</a> -->
      <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ '/interests' | relative_url }}">Interests</a>
      <br>
    </nav>

    <div class="sidebar-bottom-row">
      <a class="email-icon-container" href="mailto:sarpkavalcioglu@gmail.com">
        <img class="email-icon" src="../images/email.png">
      </a>

      <a class="contact-icon-container" href="https://www.linkedin.com/in/sarp-kavalcioglu/">
        <img class="contact-icon" src="../images/linkedin.png">
      </a>

      <a class="contact-icon-container" href="https://github.com/kavalcio/">
        <img class="contact-icon" src="../images/github.png">
      </a>
    </div>
  </div>
</div>
